

.modal_container {
  display: flex;
  justify-content: center;
  position: fixed;
  margin-top: 20px !important;
  //justify-content: center;
  //margin-top: 50px;
    z-index: 20;
  inset: 0;
}

.modal {
  position: fixed;
  top:30px;
  border-radius: 20px;
  overflow: hidden;
  z-index: 50;

  > div {
    position: fixed;
    margin-top: calc(var(--header-height) + 0.9rem);;
    transform: translate(-50%, 0);
    box-shadow: 0 0 45px -6px hsl(0, 0%, 4%) inset, 0 0 5px hsl(0, 0%, 3%),
    0 2px 2px hsla(0, 0%, 3%, 0.788), 0 5px 4px hsla(0, 0%, 4%, 0.488);
    border-radius: 20px;
    overflow: hidden;
    background-color: black;

    > iframe {
      width: 90vw !important;
      height: calc(80vw * 9 / 16);
      max-width: 900px;
      max-height: calc(1200px * 9 / 16);
      margin-bottom: -5px;
    }

    > .modal_content {
      width: 90vw !important;
      max-width: 1200px;
      background: rgba(45, 45, 45, 0.78);
      max-height: 90vh;
      padding: 1rem;
       >.modal_content-top {
          display: flex;
          justify-content: space-between;
         align-items: center;
         margin-bottom: 1rem;
      > .modal_content-image{
        //max-width: 200px;
        width: 250px;
        height:auto;
        min-height: 250px;
        border-radius: 10px;
        overflow: hidden;
        }
         >.modal_content-info {
           flex: 1;
           text-align: center;

           >h2{
             color: #0180d5;
           }
         }
      }

    }
  }
}

.tracks_wrapper {
  max-height: 500px;
  overflow: auto;
    color:var(--color-gray-80);
}
.track_wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom: dotted 1px #424242;
  padding: 1rem;

  >div {
    padding-inline: 0.5rem;
  }

   >.track_wrapper-position {
    font-weight: bold;
     color: #656565;
  }
  >.track_wrapper-name {
    flex:1;
  }

}
