.homepage_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.quotation {
  padding-left: 30px;
  font-style: italic;
  //font-weight: bold;
  text-shadow: 0 2px 2px rgba(44, 44, 44, 0.87);

}

.quotation_author {
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0.9;
  margin: 0 !important;

  > span {
    font-style: italic;
  }


}


.database_infos {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  > div {
    flex: 1;
    display: flex;
    align-items: center;
    background: var(--sidebar-bg-color);
    box-shadow: 0 3px 3px #1c1c1c;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    text-align: center;

    > .icon {


      > svg {
        width: 7rem;
        height: 7rem;
        color: var(--color-primary-40);
        filter: drop-shadow(0 2px 2px #2a2a2a);
      }
    }
  }
}

.database_infos-text {
  text-align: center;
}
#album {
  position: relative;
  //float: left;
  margin-right: 130px;
  //top: 12.5%;
  //left: 12.5%;
  height: 250px;
  width: 250px;
  max-height: 75%;
  max-width: 75vh;
}

#cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url('../homepage/the_clash.jpg');
  background-size: 100% 100%;
  box-shadow: 5px 0 20px 0 rgba(0, 0, 0, 0.6),
  inset 0 0 10px 5px rgba(255, 255, 255, 0.2),
  inset 0 0 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

#vinyl {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  z-index: 0;
  width: 95%;
  height: 95%;
  display: block;
  background-image: url('../homepage/vinyl.png');
  //background-image: url('https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Music-PNG/Gramophone_Vinyl_LP_Record_PNG_Transparent_Clip_Art_Image.png?m=1462983196');
  background-size: 106% 106%;
  background-position: center;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  content: '';
  -webkit-animation: 2s linear spinThat infinite,
  1s ease-out getOut 100ms forwards;
  animation: 5s linear spinThat infinite, 1s ease-out getOut 100ms forwards;
}

@-webkit-keyframes getOut {
  0% {
    left: 0;
  }
  100% {
    left: 50%;
  }
}

@keyframes getOut {
  0% {
    left: 0;
  }
  100% {
    left: 50%;
  }
}

@-webkit-keyframes spinThat {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinThat {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
